<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.hazyair">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:name=".gui.HazyairApplication">
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:label="@string/title_settings"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />
        </activity>

        <service
            android:name=".service.DatabaseSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
        </service>
        <service
            android:name=".service.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
        </service>
        <service
            android:name="android.support.v4.app.DatabaseService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:process=":databaseservice">
            <intent-filter>
                <action android:name="io.github.hazyair.ACTION_DELETE" />
                <action android:name="io.github.hazyair.ACTION_INSERT_OR_DELETE" />
                <action android:name="io.github.hazyair.ACTION_UPDATE" />
                <action android:name="io.github.hazyair.ACTION_SELECT" />
            </intent-filter>
        </service>

        <activity android:name=".gui.StationsActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="hazyair.github.io"
                    android:pathPrefix="/"
                    />
            </intent-filter>
        </activity>
        <provider
            android:authorities="io.github.hazyair.provider"
            android:name=".data.generated.HazyairProvider"
            android:exported="false"
            android:syncable="true"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <receiver android:name=".widget.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service
            android:name=".widget.AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".boot.BootCompletedReceiver"
            android:directBootAware="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>